* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}
body {
  background: #000;
  color: #fff;
}
h2 {
  font-size: 50px;
  font-weight: 600;
  margin-bottom: 20px;
}
li {
  list-style: none;
}

/* Header Style */
/* 1. Nav */
.header {
  width: 100%;
  height: 98vh;
  min-height: 700px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(images/header-image.png);
  background-size: cover;
  background-position: center;
  padding: 10px 8%;
  position: relative;
}
nav {
  margin: 0 auto;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
}
.logo {
  width: 25%;
  max-width: 150px;
  cursor: pointer;
}
.lang-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border: 1px solid gray;
  border-radius: 3px;
  width: 100px;
  margin-right: 8px;
}
nav button:first-of-type img {
  width: 14px;
  margin-left: 12px;
}
nav button {
  border: 0;
  outline: 0;
  background: #db0001;
  color: #fff;
  padding: 7px 12px;
  font-size: 14px;
  font-weight: 600;
  border-radius: 4px;
  cursor: pointer;
}
/* 2. Head Content */
.hcontent {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 180px;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 300px;
  /* line-height: 40px; */
}
.hcontent h1 {
  line-height: 70px;
  font-size: 45px;
  font-weight: 800;
  margin-bottom: 20px;
}
.hcontent h4 {
  font-size: 26px;
  font-weight: 400;
  margin-bottom: 20px;
}
.hcontent p {
  font-size: 20px;
  max-width: 700px;
  font-weight: 200;
  margin-bottom: 5px;
}
.esignup {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  min-width: 400px;
  max-width: 900px;

  background: transparent;
}
.esignup input {
  margin-right: 10px;
  width: 70%;
  max-width: 400px;
  height: 55px;
  color: white;
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.408);
  border: 1px solid gray;
  border-radius: 4px;
}
.esignup button {
  background-color: #db0001;
  cursor: pointer;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  padding: 15px;
  width: 180px;
  height: 55px;
  border: 1px;
  border-radius: 4px;
}
/* DIVIDER */
.divider {
  height: 1.25vh;
  width: 100%;
  background-color: rgb(53, 48, 48);
}

/* FEATURES */
.features {
  padding: 50px 12%;
  font-size: 22px;
}
.row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 50px 0;
}
.text-cont,
.img-cont {
  flex-basis: 50%;
  margin-bottom: 20px;
}
.img-cont img {
  display: block;
  min-width: 450px;
  width: 90%;
  margin: auto;
}

/* FAQs */
.faq {
  padding: 40px 5% 10px 5%;
  text-align: center;
  font-size: 18px;
}
/* 1.Accordion Styling */
.accordion {
  margin: 60px auto;
  width: 100%;
  max-width: 1150px;
}
.accordion li {
  width: 100%;
  padding: 5px;
}
.accordion li label {
  display: flex;
  align-items: center;
  padding: 30px 25px;
  font-size: 24px;
  font-weight: 500;
  cursor: pointer;
  margin-bottom: 1px;
  position: relative;
  background: #303030;
  transition: 0.5s;
}
.accordion li label:hover {
  background-color: #4c4a4a;
}
input[type="checkbox"] {
  display: none;
}
label::after {
  content: "+";
  font-size: 44px;
  position: absolute;
  right: 20px;
  transition: 0.5s;
}

.accordion .content {
  background: #303030;
  text-align: left;
  padding: 0px 20px;
  max-height: 0px;
  overflow: hidden;
  transition: 0.3s;
}
.accordion input[type="checkbox"]:checked + label + .content {
  max-height: 600px;
  padding: 30px 20px;
}
.accordion input[type="checkbox"]:checked + label::after {
  transform: rotate(135deg);
}
p .small {
  margin-bottom: 20px;
  font-size: 15px;
}
.faq .esignup {
  margin: 15px auto 60px;
}

.faq .esignup input {
  background-color: #272c3e;
  border: 1px solid rgb(17, 138, 17);
}

/* FOOTER */
.footer {
  padding: 50px 12% 10px;
  color: #a39999;
}
.footer h3 {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 30px;
}
.number {
  text-decoration: underline;
  letter-spacing: 1px;
  font-style: italic;
}
.footer .row{
  align-items: flex-start;
  padding: 10px 0;
}
.footer .col {
  flex-basis: 25%;
  flex-grow: 1;
  margin-bottom: 20px;
  padding: 7px;
}
.footer .col a {
  display: block;
  text-decoration: none;
  color: #777;
  margin-bottom: 10px;
  font-size: 14px;
  transition: 0.2s;
}
.footer .col a:hover {
  color: linen;
}
.footer button {
  color: #fff;
  padding: 7px 12px;
  font-size: 14px;
  font-weight: 600;
  border-radius: 4px;
  cursor: pointer;
}
.footer button img{
    width: 14px;
    margin-left: 12px;
}
.copyright-txt {
  color: #777;
  margin: 15px 3px;
  font-size: 14px;
}

/* MEDIA QUERIES */
@media only screen and (max-width: 600px) {
  h2 {
    font-size: 40px;
  }
  nav button {
    padding: 5px 10px;
  }
  nav .lang-btn {
    padding: 5px 8px;
  }
  .esignup {
    flex-direction: column;
    gap: 15px;
    /* min-width: none; */
  }
  .esignup input{
    width: 70%;
  }
  .img-cont img {
    min-width: 330px;
  }
  /* label::after{
    font-size: 28px;
  } */
}
@media only screen and (max-width:1200px){
  .hcontent{
    margin-top:150px ;
  }
    .res-rev{
        flex-direction: column-reverse;
        flex-wrap: nowrap;
    }
}
